.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBtn {
    margin-left: 20px;
}

::placeholder {
    font-size: 1em;
  }

  @media (max-width: 479px) {
    ::placeholder {
        font-size: 0.9em;
      }
  }
  